<h1> Listing 4 Dojos </h1>
<table>
    <tr>
        <th>Coding Dojo Branch</th>
        <th> Street </th>
        <th> City </th>
        <th> State </th>
        <th> Actions </th>
    </tr>
    <% @dojos.each do |dojo| %>
    <tr>
        <td> <%= dojo.branch %> </td>
        <td> <%= dojo.street %> </td>
        <td> <%= dojo.city %> </td>
        <td> <%= dojo.satate %> </td>
        <td> <a href="url"> Show</a> | <a href="url"> Edit </a> | <a href="url"> Destroy</a>
    </tr>
    <% end %>    
</table>
<br><br>
<a href="dojos/new"> New Dojo </a>