<style>
div {
    margin-bottom: 10px;
}
label {
    display: inline-block;
    width: 150px;
    text-align: right;
}
</style>

<h1> New Dojo </h1>
<form action="/dojos" method="post">
<%= hidden_field_tag :authenticity_token, form_authenticity_token %>
    <div>
        <label> Branch: </label>
        <input type='text' name='dojo[branch]'/>
    </div>
    <div>
        <label> Street: </label>
        <input type="text" name='dojo[street]'/>
    </div>
    <div>
        <label> City: </label>
        <input type="text" name='dojo[city]'/>
    </div>
    <div>
        <label> State: </label>
        <input type='text' name='dojo[satate]'/>
    </div>
    <br>
    <input type='submit' value='create'/>
</form>